.wd-background { background-color: black; }

.wd-container {
    max-width: 700px;
    margin: auto;
    padding: 16px;
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    border-style: solid;
}

.wd-rounded-corners {
    border-radius: 50px;
    border: 0 solid black;
    background-color: #282c34;
    width: 85%;
    font-size: 15px;
    color: white;
    background-image: url('../images/search-icon.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left+10px center;
    outline: none;
}

.wd-padding-fat {
    padding: 12px 12px 12px 50px;
}

.wd-search {
    width: 90%;
    float: left;
}

.wd-gear {
    width: 10%;
    float: right;
}

.wd-gear img {
    width: 25px;
    height: 25px;
    float: right;
    padding: 12px;
}

.wd-links {
    width: 100%;
}

.wd-links ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.wd-links li {
    float: left;
    padding-right: 12px;
}

.wd-links a {
    display: block;
    color: rgb(110, 118, 125);
    font-size: 15px;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.wd-links .active {
    border-bottom: rgb(29, 161, 242) solid 3px;
    color: rgb(29, 161, 242);
}

.wd-element-explore {
    height: 120px;
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.wd-img-dots {
    float: right;
    width: 50px;
    height: 30px;
    padding-right: 16px;
    padding-top: 10px;
}

.wd-heading-element {
    font-size: 13px;
    color: rgb(110, 118, 125);
    font-weight: normal;
}

.wd-content-element {
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.wd-heading-element-white {
    font-size: 13px;
    color: white;
    font-weight: bold;
}

.wd-image-element {
    width: 100px;
    height: 100px;
    border-radius: 30%;
    object-fit: cover;
    float: right;
    padding: 10px;
}