.fa-stack { left: -3px; top: -2px; }
.fa-stack.small { font-size: 0.5em; }
.wd-left-sidebar .list-group-item {
    background-color: black;
    color: #ced4da;
}
.btn-primary.override {
    background-color: #1DA1F2;
    color: white;
    border-width: 0;
    border-radius: 20px;
    font-weight: bolder;
}
.wd-left-sidebar .active {
    border: none;
    font-weight: bolder;
    color: white;
}
.list-group-item i { vertical-align: after-edge; }
.input-icon i {
    color: rgb(110, 118, 125);
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}
.input-icon .form-control {
    border-width: 0;
    border-radius: 20px;
    color: white;
    background-color: #282c34;
    text-indent: 40px;
}
.wd-search-bar i { color: #ced4da; }
.wd-search-bar .d-flex { padding-left: 0; }
.wd-tabs .nav-link {
    padding-left: 0;
    padding-right: 0;
    color: rgb(110, 118, 125);
    font-weight: bold;
}
.wd-tabs .nav-item .active {
    border-bottom-color: #1DA1F2;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    color: white;
    font-weight: bolder;
}
.row .card {
    padding-right: 0;
    padding-left: 0;
    border-color: #282c34;
    background-color: black;
}
.card .list-group-item {
    background-color: black;
    border-color: #282c34;
}
.card-img-overlay .card-title {
    padding-top: 60%;
    color: white;
}
.card-title {
    font-weight: bold;
    color: white;
}
.card-title small {
    font-weight: bold;
    color: white;
    font-size: small;
}
.card-text {
    font-weight: normal;
    color: gray;
    font-size: small;
}
.wd-right-sidebar .list-group-item {
    background-color: #282c34;
    color: white;
    font-size: small;
}
.wd-right-sidebar .btn-light {
    font-weight: bold;
    font-size: small;
    color: #282c34;
    border-radius: 20px;
    border: none;
}
.wd-right-sidebar .header {
    font-weight: bold;
    font-size: large;
}
.wd-icon-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}